# python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/

# tests
.pytest_cache/
.coverage
coverage.xml
coverage.svg
htmlcov/

# flatpak-builder
.flatpak-builder/
build-dir/
.flatpak-builder-lint.json
